/* Box Styles */
.Box-style {
    width: 75%;
    position: relative;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #fff;
}

/* Background Colors */
.grade1 {
    background-color: #009359;
}

.bgcolor {
    min-height: 100vh;
    background: #ECEFF1;
    background: linear-gradient(158deg, rgb(224, 224, 224) 0%, rgb(233, 237, 254) 100%);
}

/* Logo */
.logo {
    display: flex;
    justify-content: space-between;
}

/* Head Text */
.head-text {
    color: #dc1f27;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}


.dd:hover {
    background-color: #dc1f27;
    width: 100%;
    color: #fff;
}

/* Logout */
.logout {
    background-color: #dc1f27;
    color: #fff;
}

/* Add Member */
.addMember:hover {
    background-color: #dc1f27 !important;
}

/* Hoverr */
.hoverr {
    background-color: #dc1f27 !important;
    display: block !important;
    margin-left: 29% !important;
    margin-right: auto !important;
    margin-top: 50px !important;
    width: 29% !important;
    font-size: 20px !important;
}

.hoverr:hover {
    background-color: #e7111c !important;
    color: #fff !important;
}
.div-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.upload_img{
    outline: 0px;
    /* -webkit-tap-highlight-color: transparent; */
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px, rgba(0, 0, 0, 0.05) 0px 10px 15px -5px, rgba(0, 0, 0, 0.04) 0px 7px 7px -5px;
    border-top: 2px solid #dc1f27;
    padding: 16px;
    height: 40vh;
    width: 350px;
}
.upload_img_style{
    /* position: absolute; */
    inset: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(134, 142, 150);
    background-color: rgb(248, 249, 250);
    border-radius: 0px;
    height: 29vh;
    width: 315px;
}
/* Save Button */
.save {
    padding: 6px;
    width: 21%;
    font-size: 25px;
    background-color: #dc1f27;
    color: #fff;
    border: none;
    border-radius: 2%;
    margin-top: 22px;
}

/* Back Button */
.back {
    width: 15%;
    background-color: #dc1f27;
    height: 55px;
    margin-left: 2%;
    margin-top: 2%;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: absolute;
    left: 0;
}

/* Link Edit */
.link-edit {
    color: #fff !important;
    text-decoration: none !important;
}

/* Form Edit */
.form-edit {
    direction: rtl;
    padding: 8% 3%;
}

/* Slider Text */
.slider-text {
    font-size: 23px !important;
    font-weight: 800 !important;
    margin-left: auto;
    margin-right: auto;
}

/* Border Styles */
.borderr {
    border-top-style: solid;
    border-top-width: 2.5px;
    border-top-color: #dc1f27;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
}

/* Form Optgroup */
.form-optgroup select {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #aaa;
}

/* Form Group Edit */
.form-group-edit {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Tabs */
.tab1, .tab2 {
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
    padding: 20px 50px 20px 50px;
    border: none;
    background-color: #fff;
    text-align: center;
}

.tab1:hover, .tab2:hover {
    background-color: #dc1f27;
    color: #fff;
}

.tab1:focus, .tab2:focus {
    background-color: #dc1f27;
    color: #fff;
}
.accord{
    margin: 0!important;
}
.dd-text{
    font-size: 20px;
    font-weight: 800;
  
}